.ticket{
  height: 180px;
  background-color: #FFFFFF;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  padding: 20px;
  box-sizing: border-box;
}

.ticket_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.ticket_price{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}

.card{
  height: 40px;
  text-transform: uppercase;
  margin-top: 10px;
}

.card_info{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card_flight, .card_status, .card_change{
  display:grid;
}

.flight, .status, .change{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #A0B0B9
}

.flight_time, .status_time, .change_place{
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}

.status_time{
  text-transform: lowercase;
}